@tailwind base;
@tailwind components;
@tailwind utilities;

.magic-cursor-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Memastikan kursor bisa berinteraksi */
  z-index: 9999; /* Memastikan kursor selalu di atas */
}
